.header{
	text-align: center;
	background-color: blue;
	background-image: url(http://static1.businessinsider.com/image/51865192eab8eaf86a000014-1200/007mikebrodie-1.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
	background-position: 75% 65%;
	height: 150px;
	width: 100%;
	color: white;
	font-size: 75px;
	padding-top: 80px;
}
.containerTrainTime{
	border: 5px solid #DEB887;
	margin:20px 10px 20px 10px;
	border-radius: 15px;
}
#inputContainer{
	width: 550px;
	position: relative;
	float: left;
}
.containerTitle{
	background-color: #DEB887;
	height: 28px;
	font: 22px bold;
}
.currentTrainTable{
	border-collapse: separate;
	border-spacing: 5px;
}

.keys{
	text-align: left;
	border-bottom: 5px solid black;
	font-size: 20px;
}
.inputTitle{
	font: 18px bold;
	margin-left: 10px;
}
input{
	border: 1px solid black;
	width: 500px;
	height: 20px;
	margin-left: 10px
}
button{
	margin: 8px;
	background-color: #556B2F;
	color: white;
	height: 25px;
	width: 80px;
}
.playlist{
	position: absolute;
	margin-left: 625px;
	margin-top: 26px;
	border-radius: 50px;
	width: 500px;
}




